
    <div class="login-section" fxLayout fxLayoutAlign="center center"  style="padding-top:8%;" >
        <form class="login-form" fxLayout="column" fxFlex="400px"  fxFlex.xs="100%"  fxLayoutAlign="center center"  
                style="background-color:white;padding:20px;height: 500px;" [formGroup]="signinForm"  novalidate>
                <img src="/assets/unnamed.png" height="100px" width="100px">
                    <div class="flex-item" style="text-align: center;color:chocolate;font-weight:bold;font-size:20px;margin-top:20px;padding:20px;">Log in to Workout Tracker</div>
                    <!-- <button type="submit" mat-raised-button style="background-color:#0067b8;color:white;">Log in with Facebook</button>-->
                     <mat-form-field class="flex-item">
                         <input class="form-control" type="email" matInput placeholder="Email" formControlName="email">
                         <mat-error *ngIf="signinForm.get('email').hasError('required')">Email is required</mat-error>
                         <mat-error *ngIf=" !signinForm.get('email').hasError('required') && signinForm.get('email').hasError('email')">Valid email please</mat-error>
                     </mat-form-field>
                     <mat-form-field class="flex-item">
                         <input class="form-control" type="password" matInput placeholder="Password" formControlName="password">
                         <mat-error *ngIf="signinForm.get('password').invalid">invalid password </mat-error>
                     </mat-form-field>
                     
                     <div class="flex-item" fxLayout fxLayoutAlign="center center" style="padding: 20px;" >
                         <button type="submit" style="width:200px;" *ngIf="!(showSpinner$ | async)" mat-raised-button color="accent" [disabled]="signinForm.invalid" (click)="submitform()">Login</button>
                         <div style="margin: 0 auto;" *ngIf="showSpinner$ | async" ><mat-spinner  [diameter]="diameter" color="primary"></mat-spinner></div>
                     </div>
            
            
            
        </form>
    </div>

  


    <style>
    
    .flex-item{
        width: 300px;
    }
    </style>