
    <div class="login-section" style="height:100%;padding:0;margin:0;" >
        <form class="login-form" fxLayout="column"  fxLayoutAlign="center center"  style="background-color:white;padding:20px;" [formGroup]="signinForm"  novalidate>
                    <div class="flex-item" style="text-align: center;color:chocolate;font-weight:bold;font-size:20px;margin-top:20px;padding:20px;">Log in to Workout Tracker</div>
                    <!-- <button type="submit" mat-raised-button style="background-color:#0067b8;color:white;">Log in with Facebook</button>-->
                     <mat-form-field class="flex-item">
                         <input class="form-control" type="email" matInput placeholder="Email" formControlName="email">
                         <mat-error *ngIf="signinForm.get('email').hasError('required')">Email is required</mat-error>
                         <mat-error *ngIf=" !signinForm.get('email').hasError('required') && signinForm.get('email').hasError('email')">Valid email please</mat-error>
                     </mat-form-field>
                     <mat-form-field class="flex-item">
                         <input class="form-control" type="password" matInput placeholder="Password" formControlName="password">
                         <mat-error *ngIf="signinForm.get('password').invalid">invalid password </mat-error>
                     </mat-form-field>
                     
                     <div class="flex-item">
                         <button type="submit" *ngIf="!(showSpinner$ | async)" mat-raised-button color="primary" [disabled]="signinForm.invalid" (click)="submitform()">Login</button>
                         <div style="margin: 0 auto;" *ngIf="showSpinner$ | async" ><mat-spinner  [diameter]="diameter" color="accent"></mat-spinner></div>
                     </div>
            
            
            
        </form>
    </div>



    <style>
    
    .flex-item{
        width: 300px;
    }
    </style>