




    <div fxLayout fxLayoutAlign="center center" style="margin-top:100px;" >

        <mat-table #table [dataSource]="dataSource" fxFlex.xs="100%" fxFlex="70%" >
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Exercise Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="calories">
            <mat-header-cell *matHeaderCellDef> Calories Burn(Kcal) </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.calories}} </mat-cell>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef> Duration(in sec) </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.duration/1000}} </mat-cell>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
          </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="startDate">
              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
            </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>


