<section class="newTraining" fxLayout fxLayoutAlign="center center">
    <form  #heroForm="ngForm" (ngSubmit)="trainingStarted(heroForm)">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Time to start new workout</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-select placeholder="Favorite Exercise" ngModel name="selectedExercise" required >
                    <mat-option *ngFor="let exec of ExerciseList" [value]="exec.id">
                        {{exec.name}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
            <br/>
            
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button  [disabled]="heroForm.invalid" >Start</button>
        </mat-card-actions>
    </mat-card>
</form>
</section>