<section fxLayout fxLayoutAlign="center center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title>Time to start new workout</mat-card-title>
        <mat-card-content style="text-align: center;">
            <mat-form-field>
                <mat-select placeholder="Favorite Exercise">
                    <mat-option [value]="Crun-ches">
                        Crun-ches
                    </mat-option>
                    <mat-option [value]="touch-toes">
                        touch-toes
                    </mat-option>
                    <mat-option [value]="Side-lunges">
                        Side-lunges
                    </mat-option>
                    <mat-option [value]="bur-pees">
                        bur-pees
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <button mat-raised-button color="accent" (click)="trainingStarted()">Start</button>
        </mat-card-content>
    </mat-card>
</section>