<mat-nav-list>
    <a *ngIf="!isAuthenticated" mat-list-item routerLink="/signup" (click)="closeSidenav()">
        <i class="material-icons">person_add</i>&nbsp; signup
    </a>
    <a *ngIf="!isAuthenticated" mat-list-item routerLink="/signin" (click)="closeSidenav()">
        <i class="material-icons">person</i>&nbsp;signin

    </a>
    <a *ngIf="isAuthenticated" mat-list-item routerLink="/training" (click)="closeSidenav()">
        <i class="material-icons icons">fitness_center</i>&nbsp;Training
    </a>

    <a *ngIf="isAuthenticated" mat-list-item routerLink="/training" (click)="logOut()">
        <i class="material-icons icons">&#xE879;</i>&nbsp; Signout
    </a>
</mat-nav-list>