<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="closeSidenav()">
        <mat-icon> <span class="navCaption">face</span></mat-icon>&nbsp; signup
    </a>
    <a mat-list-item routerLink="/signin" (click)="closeSidenav()">
        <mat-icon> <span class="navCaption">group</span></mat-icon>&nbsp;signin

    </a>
    <a mat-list-item routerLink="/training" (click)="closeSidenav()">
        <mat-icon>
            <span class="navCaption">input</span></mat-icon> Training
    </a>
</mat-nav-list>