.navigation-list {
    display: flex;
    flex-direction: row;
}

.navigation-list li {
    list-style: none;
    padding: 10px;
}

.navigation-list li a,
.brand {
    text-decoration: none;
    color: white;
}

.navigation-list li a:hover,
brand:hover {
    color: grey;
}

mat-list-item a {
    text-decoration: none;
}

.icons{
    position: relative;
    top: 4px;
}

.active{
    color:grey;
    padding:5px;
    font-weight: bold;

}