<mat-toolbar class="toolbar" color="primary">
    <div>
        <button mat-icon-button (click)="toggleSideNav()">
            <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
        </button>
    </div>
    <div>
        <a class="brand" routerLink="/">Logo</a>
    </div>
    <div style="display:flex;flex-direction:row-reverse;width: 100%;">
        <ul class="navigation-list" fxHide.lt-lg="true">
            <li> <a *ngIf="!isAuthenticated" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/signup"><i class="material-icons icons">person_add</i> Signup</a></li>
            <li><a *ngIf="!isAuthenticated" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/signin"><i class="material-icons icons">person</i> Signin</a></li>
            <li><a *ngIf="isAuthenticated" routerLinkActive="active" routerLinkActiveOptions="{exact:true}"  routerLink="/dashboard"><i class="material-icons icons">dashboard</i> Dashboard</a></li>
            <li><a *ngIf="isAuthenticated" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" routerLink="/training"><i class="material-icons icons">fitness_center</i> Training</a></li>
            <li><a *ngIf="isAuthenticated" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" (click)="signOut()"> <i class="material-icons icons">&#xE879;</i> Signout</a></li>
        </ul>
    </div>
</mat-toolbar>


